/*放置目录的盒子*/

.side_toc {
    left: 0;
    white-space: nowrap;
    height: 100%;
    overflow: auto;
}


/*目录项*/

.side_toc li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.side_toc a {
    color: black;
}

.side_toc a:visited {
    color: #888;
}


/*正在阅读的项*/

.toc_current_read {
    box-sizing: border-box;
    border-right: 5px #aaa solid;
}


/*下级目录*/

.side_toc ul {
    list-style: none;
}


/*折叠下级目录*/

.toc_item_fold>ul {
    display: none;
}


/*折叠按钮*/

.side_toc ul>li>a::before {
    display: inline-block;
    transition: 0.5s;
    font-weight: bold;
}

.toc_item_empty>a::before {
    content: 'ㅤ';
}

.toc_item_fold>a::before {
    content: '▷';
    /*▶*/
}

.toc_item_unfold>a::before {
    content: '▷';
    transform: rotate(90deg);
    /*▼*/
}